.main {
	text-align: center;
}

.text {
	font-size: 24px;
	margin-bottom: 50px;
}

.text p {
	margin: 0;
}

.img {
	width: 666px;
	margin-bottom: 50px;
}

.link {
	color: #fff;
}

.link button {
	background: transparent;
	color: #fff;
	width: 250px;
	margin: auto;
	outline: 1px solid gray;
	padding: 12px 24px;
	border-radius: 10px;
	border: 0;
	font-size: 16px;
	cursor: pointer;
}

.link button:hover {
	opacity: 0.8;
}
